#hkitchen .kitchen-bg{
    width: 700px;
    height: 212px;
    background-color: var(--head-color);
    margin: 0 auto;
    margin-top: 65px;
}

#hkitchen .kitchenProduct {
    /*position: relative;
      */
    width: 200px;
    float: left;
    height: 250px;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 4px;
    margin-bottom: 45px;
  }
  
  #hkitchen .product:hover {
    box-shadow: none;
  }
  
  #hkitchen .kitchenProduct .productimgInner .productTittle .names {
    height: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
  }
  
  #hkitchen .kitchenProduct .names:hover {
    text-decoration: underline;
  }